<ion-view view-title=通讯录>
  <ion-nav-buttons side="right">
    <a href="#/tab/addNewFriend"> 
      <button class="button button-icon icon ion-android-add" ng-click=""></button>
    </a>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="friend in friends" type="item-text-wrap" href="#/tab/friend/{{friend.id}}">
        <img ng-src="{{friend.avatar}}">
        <h2>{{friend.name}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
