<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <!--<script src="cordova.js"></script>-->

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <script src="js/login.js"></script>
  </head>
  <body ng-app="Login" ng-controller="LoginCtrl">
    <div class="bar bar-header bar-stable">
      <h1 id="title" class="title">登录</h1>
      <a class="button ion-button ion-android-arrow-back" id="toLogin" ng-click="toLogin()"></a>
      <a class="button button-positive" id="toSign" ng-click="toSign()">注册</a>
    </div>
    <div class="user-message">
     <form action="http://192.168.191.1:8081/login" method="POST"> 
      <div id="login">
        <label class="item item-input">
          <input type="text" placeholder="账号" name="account" ng-model="account" required>
        </label>
        <label class="item item-input">
          <input type="password" placeholder="密码" name="password" ng-model="password" required>
        </label>
        <input class="button button-block button-positive" type="submit" value="登录">
      </form>
        <p id="err-login">账号或密码错误!</p>
      </div>
      <div id="sign">
        <label class="item item-input">
          <input type="text" placeholder="昵称" name="name" ng-model="name" required>
        </label>
        <label class="item item-input">
          <input type="text" placeholder="账号" name="account" ng-model="account" required>
        </label>
        <label class="item item-input">
          <input type="password" placeholder="密码" name="password" ng-model="password" required>
        </label>
        <input class="button button-block button-positive" ng-click="sign()" type="button" value="注册">
        <p id="err-sign">账号已注册</p>
      </div>
    </div>

    <!--<div class="card" ng-show="valid_user">
      <div class="item item-text-wrap" style="text-align: center">
        用户名或密码错误！
      </div>
    </div>-->

  </body>
</html>
