/* Empty. Add your own CSS if you like */
a {
  text-decoration: none;
}
.photo {
	width: 50%;
	height: 100%;
	margin-right: 5px;
}
.card {
	margin-top: 0;
	margin-bottom: 10px;
	padding: 0;
}
.background {
	/*padding-left: 0;
	padding-right: 0;*/
	background-color: #F2F2F2;
}
.publish-message {
	width: 90%;
	height: 140px;
	margin-top: 20px;
	margin-left: 5%;
	resize: none;
	font-size: medium;
	font-weight: bold;
}
.chat-messsage {
	border: none;
	margin-top: 15px;

}
.rj-footer-input {
	width: 80%;
}
.rj-footer-btn-wrap {
	width: 20%;
}
.rj-send-button button {
	border-radius: 0;
	margin-left: 5px;
}
.name {
	position: absolute;
	left: 20%;
	bottom: 35%;
	font-size: 17px;
	font-weight: 500;
	color: #444;
}
.user-message {
	width: 100%;
	margin:100px auto auto;
}
.user-message .button {
  width: 95% !important;
  margin: 20px auto;
}
#login {
	width: 100%;
	margin: 30px auto auto;
}
#sign {
	width: 100%;
	margin: 30px auto auto;
	display: none;
}
#sign label {
  border-style: none;
}
#sign label:nth-child(1),#sign label:nth-child(2) {
  border-bottom-style: solid;
  margin-bottom: 1px;
}
.exit {
	width: 80%;
	margin: auto;
	margin-top: 30px !important;
}
#emojiWrapper {
    display: none;
    padding-left: 3%;
    width: 90%;
    height: 280px;
    bottom: 50px;
    left: 5%;
    position: absolute;
    background-color: #aaa;
    box-shadow: 0 0 10px #555;
}
#emojiWrapper img {
    margin: 2px;
    padding: 2px;
    width: 30px;
    height: 30px;
}
#err-login,#err-sign {
	color: red;
	margin: auto;
	text-align: center;
	display: none;
}
#toLogin {
	display: none;
	font-size: 25px;
}
.concel {
	font-size: 15px !important;
	font-weight: 500 !important;
	color: #666 !important;
}
.send {
	font-size: 15px !important;
	font-weight: 500 !important;
}
.preview {
    width: 60px;
    height: 60px;
    margin: 5px;
}
.album {
	width: 100%;
	height: 25%;
	position: relative;
	top:10px;
	width: 90%;
	margin-left: 5%;
}
li {
	float: left;
	width: 69px;
}
#upload-all {
	position: fixed;
	top: 500px;
	left: 5px;
}
.delete {
	display: block;
	width: 15px !important;
	height: 15px !important;

	position: relative;
	left: 50%;
	top: -78px;
}
.delete1 {
	display: block;
	width: 15px;
	height: 15px;
	background-color: red;
	border-radius:50%;

}
.comment-item {
	margin: auto;
	background-color: #F2F2F2;
	display: block;
}
.comment {
	margin-top: 2%;
}
.content {
	display: inline-block;
}
.count {
	font-size: 5px;
	position: relative;
    top: 12px;
    left: -8px;
}

.critic{
	padding-right: 0px;
}
.submitbtn {
    font-size: 5px;
    min-height: 10px !important;
    line-height: 25px;
/*    left: 90%;*/
}
.msgitem {
	width: 50%;
/*	height: 100%;*/
	border-radius: 8px;
	background-color: rgb(186,218,248);
	font-size: 20px;
	line-height: 200%;
	margin-left: 8%;
	padding: 2px 2px 2px 10px;
}
.stime {
	margin-left: 30%;
}
#account {
	width: 90%;
	border-bottom: 1px solid rgb(186,218,248);
	display: inline;
}
.config {
	text-align: right;
	margin: -15px;
}
.config .button {
  width: 70px;
  height: 25px;
}
#login .item {
  border-style: none;
}
.index {
  background: #f7fafc;
}
.index .bar {
  background-color: rgba(0,0,0,0);
  border-bottom: 0px !important;
}
.index .bar .title {
  color: rgb(15,136,235);
  font-size: 30px;
  font-weight: 400;
  font-family: 'Helvetica Neue','Microsoft YaHei';
}
#login label:nth-child(1) {
  margin-bottom: 1px;
  border-bottom-style: solid;
}
#flag {
  color: rgb(56,126,245);
  font-weight: bold;
}
.loading {
  text-align: center;
}
.loading .spinner svg {
      width: 19% !important;
      height: 85px !important;
    }
.del-share {
  float: right;
  position: relative;
  left: 35px;
  top: -10px;
}
.del-share .button {
  font-size: 22px !important;
  color: rgb(204,63,58) !important;
}
